.topic-select {
    border-radius: 10px;
    height: 94vh;
    background-color: white;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
}

.topic-select select {
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    background-color: transparent;
    margin-bottom: 5px;
}

.category-text{
    display: inline-flex;
    align-items: center;
}

.category-text {
    font-size: 14px;
}


.search-topic {
    display: inline-flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;
    width: 80%;
}
