svg path {
    fill: #fefefe;
    stroke: #000;
    stroke-width: 0.25;
}


svg {
    margin: 0;
    padding: 0;
    width: 95%;
    height: 95%;
    transform-style: flat;
    
}

svg path:hover {
    fill: #eeeeee;
}

.world-map {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}

.hovering {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 16px;
}