svg>path {
    fill: #fefefe;
    stroke: #000;
    stroke-width: 0.25;
}
  
svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transform-style: flat;
    
}

svg>path:hover {
    cursor: pointer;
    fill: #eeeeee;
}

.world-map {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
}